<a href="https://colab.research.google.com/github/subham27-07/From-Colab-tests-with-Graphs/blob/main/Generate_Training_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline

import os
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/drive",force_remount=True)

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Jefferson/GNN/AMPS1.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,Unnamed: 0,Date,AirTemp_Inside,AirHumidity_Inside,AirTemp_Out,AirHumidity_Out,Soil_Humidity,Co2_Inside,Co2_Inside_temp,Co2_Inside_Humidity,Co2_Outside,Co2_Outside_temp,Co2_Outside_Humidity,VOC_Inside,VOC_Outside,Light,AirVelocity
0,0,"22-05-01,00:00:01,",21.336309,61.462043,20.310903,54.154879,70.353246,487.471039,23.077362,53.77655,474.507202,21.81163,51.922607,0,0,156,0.57
1,1,"22-05-01,00:00:04,",21.322957,61.50782,20.324254,54.133898,70.421912,487.060944,23.064011,53.775024,474.134888,21.81163,51.876831,0,0,156,0.60
2,2,"22-05-01,00:00:07,",21.333639,61.492561,20.308232,54.145342,70.376135,487.488831,23.050659,53.794861,474.12738,21.824982,51.879883,0,0,156,0.52
3,3,"22-05-01,00:00:11,",21.338979,61.473487,20.300221,54.126268,70.403601,486.904602,23.050659,53.761291,473.46579,21.838333,51.904297,0,0,156,0.49
4,4,"22-05-01,00:00:14,",21.314946,61.448692,20.318914,54.143435,70.479896,487.520904,23.064011,53.797913,472.930603,21.851685,51.870728,0,0,155,0.57

In [ ]:
p=df['AirVelocity']*10

In [ ]:
df

,Unnamed: 0,Date,AirTemp_Inside,AirHumidity_Inside,AirTemp_Out,AirHumidity_Out,Soil_Humidity,Co2_Inside,Co2_Inside_temp,Co2_Inside_Humidity,Co2_Outside,Co2_Outside_temp,Co2_Outside_Humidity,VOC_Inside,VOC_Outside,Light,AirVelocity
0,0,"22-05-01,00:00:01,",21.336309,61.462043,20.310903,54.154879,70.353246,487.471039,23.077362,53.77655,474.507202,21.81163,51.922607,0,0,156,0.57
1,1,"22-05-01,00:00:04,",21.322957,61.50782,20.324254,54.133898,70.421912,487.060944,23.064011,53.775024,474.134888,21.81163,51.876831,0,0,156,0.60
2,2,"22-05-01,00:00:07,",21.333639,61.492561,20.308232,54.145342,70.376135,487.488831,23.050659,53.794861,474.12738,21.824982,51.879883,0,0,156,0.52
3,3,"22-05-01,00:00:11,",21.338979,61.473487,20.300221,54.126268,70.403601,486.904602,23.050659,53.761291,473.46579,21.838333,51.904297,0,0,156,0.49
4,4,"22-05-01,00:00:14,",21.314946,61.448692,20.318914,54.143435,70.479896,487.520904,23.064011,53.797913,472.930603,21.851685,51.870728,0,0,155,0.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136645,136645,"22-05-17,09:18:30,",20.879683,64.021744,20.999847,53.260319,70.879683,425.243133,21.881058,56.654358,431.183044,23.397804,47.618103,0,0,9963,0.54
136646,136646,"22-05-17,09:18:33,",20.86099,63.872969,21.037232,53.258412,70.843061,424.180237,21.897079,56.732178,428.933777,23.397804,47.567749,0,0,9944,0.55
136647,136647,"22-05-17,09:18:36,",20.85565,63.836728,20.994507,53.227893,70.809491,422.4422,21.881058,56.828308,431.20581,23.437859,47.523499,0,0,9955,0.48
136648,136648,"22-05-17,09:18:40,",20.844968,63.903487,21.013199,53.174487,70.722515,422.578217,21.897079,56.852722,434.713593,23.45388,47.462463,0,0,9922,0.52
136649,136649,"22-05-17,09:18:43,",20.823606,64.025559,21.034562,53.153506,70.783551,422.875458,21.867706,56.782532,439.521759,23.467232,47.425842,0,0,9966,0.27

In [ ]:
AirTemp_Inside = []
for each in df['AirTemp_Inside']:
    AirTemp_Inside.append(str(each).split('.')[0])

AirHumidity_Inside = []
for each in df['AirHumidity_Inside']:
    AirHumidity_Inside.append(str(each).split('.')[0])

AirTemp_Out = []
for each in df['AirTemp_Out']:
    AirTemp_Out.append(str(each).split('.')[0])

AirHumidity_Out = []
for each in df['AirHumidity_Out']:
    AirHumidity_Out.append(str(each).split('.')[0])

Soil_Humidity = []
for each in df['Soil_Humidity']:
    Soil_Humidity.append(str(each).split('.')[0])

Co2_Inside = []
for each in df['Co2_Inside']:
    Co2_Inside.append(str(each).split('.')[0])

Co2_Outside = []
for each in df['Co2_Outside']:
    Co2_Outside.append(str(each).split('.')[0])

VOC_Inside = []
for each in df['VOC_Inside']:
    VOC_Inside.append(str(each).split('.')[0])

VOC_Outside = []
for each in df['VOC_Outside']:
    VOC_Outside.append(str(each).split('.')[0])

Light = []
for each in df['Light']:
    Light.append(str(each).split('.')[0])

AirVelocity = []
for each in p:
    AirVelocity.append(str(each).split('.')[0])

In [ ]:
poly_df = pd.DataFrame({'AirTemp_Inside':AirTemp_Inside,
                        'AirHumidity_Inside':AirHumidity_Inside,
                        'AirTemp_Out':AirTemp_Out,
                        'AirHumidity_Out':AirHumidity_Out,
                        'Soil_Humidity':Soil_Humidity,
                        'Co2_Outside':Co2_Outside,
                        'VOC_Inside':VOC_Inside,
                        'VOC_Outside':VOC_Outside,
                        'Light':Light,
                        'AirVelocity':AirVelocity,
                        'Co2_Inside':Co2_Inside,
                        })

In [ ]:
poly_df

,AirTemp_Inside,AirHumidity_Inside,AirTemp_Out,AirHumidity_Out,Soil_Humidity,Co2_Outside,VOC_Inside,VOC_Outside,Light,AirVelocity,Co2_Inside
0,21,61,20,54,70,474,0,0,156,5,487
1,21,61,20,54,70,474,0,0,156,6,487
2,21,61,20,54,70,474,0,0,156,5,487
3,21,61,20,54,70,473,0,0,156,4,486
4,21,61,20,54,70,472,0,0,155,5,487
...,...,...,...,...,...,...,...,...,...,...,...
136645,20,64,20,53,70,431,0,0,9963,5,425
136646,20,63,21,53,70,428,0,0,9944,5,424
136647,20,63,20,53,70,431,0,0,9955,4,422
136648,20,63,21,53,70,434,0,0,9922,5,422
136649,20,64,21,53,70,439,0,0,9966,2,422

In [ ]:
poly_df['Values'] = poly_df[['AirTemp_Inside', 'AirHumidity_Inside', 'AirTemp_Out', 'AirHumidity_Out', 'Soil_Humidity', 'Co2_Outside', 'VOC_Inside', 'VOC_Outside', 'Light', 'AirVelocity']].apply(lambda x: ', '.join(x[x.notnull()]), axis = 1)

In [ ]:
new_df=poly_df[['Values','Co2_Inside']]

In [ ]:
new_df

                                        Values Co2_Inside
0        21, 61, 20, 54, 70, 474, 0, 0, 156, 5        487
1        21, 61, 20, 54, 70, 474, 0, 0, 156, 6        487
2        21, 61, 20, 54, 70, 474, 0, 0, 156, 5        487
3        21, 61, 20, 54, 70, 473, 0, 0, 156, 4        486
4        21, 61, 20, 54, 70, 472, 0, 0, 155, 5        487
...                                        ...        ...
136645  20, 64, 20, 53, 70, 431, 0, 0, 9963, 5        425
136646  20, 63, 21, 53, 70, 428, 0, 0, 9944, 5        424
136647  20, 63, 20, 53, 70, 431, 0, 0, 9955, 4        422
136648  20, 63, 21, 53, 70, 434, 0, 0, 9922, 5        422
136649  20, 64, 21, 53, 70, 439, 0, 0, 9966, 2        422

[136650 rows x 2 columns]

In [ ]:
new_df.to_csv('/content/drive/MyDrive/Jefferson/GNN/AMPS2.csv', index=False)